.switch {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 34px;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73c0fc;
    transition: 0.4s;
    border-radius: 30px;
  }
  
  .sun svg, .moon svg {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
  
  .sun svg {
    top: -3px;
    left: 25px;
    animation: rotate 15s linear infinite;
  }
  
  .moon svg {
    fill: #6aa7d8;
    top: -3px;
    left: -1px;
  }

  .slider-dot {
    content: "";
    height: 20px;
    width: 30px;
    border-radius: 20px;
    left: 0px;
    bottom: 1.5px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: 0.4s;
  }
  
  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate__slow {
    animation-duration: 2s;
  }
  
  .animate__delay-2s {
    animation-delay: 2s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }